* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** UTILS */

.container {
    max-width: 1180px;
    min-height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-end {
    justify-content: flex-end;
}

.flex.align-center {
    align-items: center;
}

.flex.align-end {
    align-items: flex-end;
}

.content-section {
    min-height: 700px;
    padding: 50px 0;
}

.bg-white {
    background-color: white;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-darkgray {
    background-color: #23272A;
}

.col-25 {
    width: 25%;
    height: 100%;
    border: 1px dashed white;
}

.col-30 {
    width: 30%;
    height: 650px;
    background-color: #f08080;
    border: 1px dashed black;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
    height: 650px;
    background-color: #20b2aa;
    border: 1px dashed black;
}

.small-btn {
    padding: 10px 15px;
    border-radius: 20px;
}

.medium-btn {
    font-size: 1.5rem;
    padding: 20px 30px;
    border-radius: 50px;
}

.white-btn {
    background-color: #ffffff;
    color: #23272a;
}

.black-btn {
    background-color: #23272a;
    color: #ffffff;
}

/** GENERICS */

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    color: white;
    background-color: #255EE9;
    height: 100px;
}

.header-content {
    width: 100%;
}

.header-content > * {
    padding: 10px 0;
}

.logo {
    width: 15%;
}

nav {
    width: 70%;
}

ul {
    list-style: none;
}

li {
    padding: 0 25px
}

.login {
    width: 15%;
}

/* MAIN */

.jumbotron-section {
    padding: 100px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbotron-box {
    width: 1000px;
    margin: 100px 0;
    color: white;
    text-align: center;
}

.jumbotron-section h1 {
    font-size: 4rem;
    margin-bottom: 50px;
}

.jumbotron-section p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 30px;
}

.jumbotron-section .medium-btn {
    margin: 0 20px;
}

.jumbotron-section .medium-btn i {
    margin-right: 10px;
}

.content-section {
    padding: 100px 0;
}

.content-section h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.content-section p {
    font-size: 1.5rem;
}

.content-box {
    text-align: center;
}

.content-box img {
    width: 100%;
}

/* FOOTER */

footer > .content-section {
    padding-top: 10px;
}

.footer-bottom {
    min-height: 100px;
    border-top: 1px solid lightgray;
}

.footer-bottom > .content-box {
    width: 100%;
    height: 70px;
    background-color: #7fffd4;
}

.footer-bottom-logo, .footer-bottom-btn {
    background-color: pink;
    padding: 5px;
    border: 1px dashed black;
}